@model SacramentMeetingApp.Models.Speaker

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Speaker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.speakerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.speakerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.speakerLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.speakerLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.speakerSubject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.speakerSubject)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="speakerID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
