@model SacramentMeetingApp.Models.Speaker

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Speaker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.speakerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.speakerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.speakerLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.speakerLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.speakerSubject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.speakerSubject)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.speakerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
