@model IEnumerable<SacramentMeetingApp.Models.Meeting>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.meetingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ward)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.meetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ward)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.meetingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.meetingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.meetingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.Members != null)
{
    <h3>Courses Taught by Selected Instructor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var item in Model.members)
        {
            string selectedRow = "";
            if (item.CourseID == (int?)ViewData["CourseID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { courseID = item.CourseID })
                </td>
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
            </tr>
        }

    </table>
}
