@model IEnumerable<SacramentMeetingApp.Models.Song>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.songNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.songName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.songNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.songName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.songName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meeting.meetingID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.songID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.songID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.songID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
